  <nb-card class="chart-card">
    <nb-card-body>
      <nb-select [(selected)]="selectedTimeRange" size="tiny" class="mr-1">
        <nb-option *ngFor="let timeRange of timeRanges" [value]="timeRange">{{ timeRange }}</nb-option>
      </nb-select>
      <input nbInput [nbDatepicker]="datepicker" value="by {{selectedDate | date:'mediumDate'}}" fieldSize="tiny">
      <nb-datepicker #datepicker [(date)]="selectedDate"></nb-datepicker>

    </nb-card-body>
  </nb-card>

  <pt-users-total-card [date]="selectedDate" [timeRange]="selectedTimeRange"></pt-users-total-card>

  <pt-users-new-vs-returning-card [date]="selectedDate" [timeRange]="selectedTimeRange"> </pt-users-new-vs-returning-card>


  <!-- <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
    <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
    <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
  </div> -->
<router-outlet></router-outlet>
