
    <div class="row">
      <div class="col-md-6">tyetete
        <!-- <ngx-profit-card></ngx-profit-card> -->
      </div>
      <div class="col-md-6">teetewtdf
        <!-- <ngx-earning-card></ngx-earning-card> -->
      </div>
    </div>





<div class="flex">
  <div class="flex-item">

    <nb-select [selected]="selectedTimeRange.type" (selectedChange)="handleSelectedTimeRangeChange($event)">
      <nb-option *ngFor="let timeRange of timeRanges" [value]="timeRange.type">{{ timeRange.type }}</nb-option>
    </nb-select>
    <input nbInput [nbDatepicker]="datepicker" value="by {{selectedDate | date:'mediumDate'}}">
    <nb-datepicker #datepicker [date]="selectedDate" (dateChange)="handleDateChange($event)"></nb-datepicker>

    <app-chart-users></app-chart-users>

  </div>
  <!-- <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
    <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
    <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
  </div> -->
<router-outlet></router-outlet>
