#main-head{
  background-color: cornflowerblue;
  text-align: center;
}
nb-card-header {
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

* {
  font-family: 'Lato', sans-serif;
}
