<form submit="onSubmit()">
  <label for="login">Login
    <input type="text" id="login" required minlength="4" appLoginExistsValidator="test"
        [(ngModel)]="login" name="login" #loginRefVar="ngModel">
  </label>
  <div *ngIf="loginRefVar.invalid && (loginRefVar.dirty || loginRefVar.touched)"
      class="alert alert-danger">
    <span *ngIf="loginRefVar.errors.required">Enter login</span>
    <span *ngIf="loginRefVar.errors.minlength">Login must be minimum 4 chars length</span>
    <span *ngIf="loginRefVar.errors.forbiddenName">Login exists</span>

  </div>
  <label for="password">Password
    <input [(ngModel)]="password" name="password" type="password" id="password" required>
  </label>
  <label for="repasswors">Re-type password
    <input type="password" name="repasswors" id="repasswors" required>
  </label>
  <button type="submit">Submit</button>
</form>

