<nb-card class="chart-card">
  <nb-card-header>
    <div class="clearfix">

      <span class="float-left">New / Returning users</span>
      <button nbButton size="tiny" status="info"
            class="float-right ml-1"
            (click)="handleShowReturningUsers()"
            [ngClass]="{'transparentBg': !isShowReturningUsers}">Show returning users</button>
      <button nbButton size="tiny" status="info"
            class="float-right ml-1"
            (click)="handleShowNewUsers()"
            [ngClass]="{'transparentBg': !isShowNewUsers}">Show new users</button>
      <button nbButton size="tiny" status="info"
            class="float-right ml-1"
            (click)="handleShowTotalUsers()"
            [ngClass]="{'transparentBg': !isShowTotalUsers}">Show total</button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <pt-chart-users></pt-chart-users>
  </nb-card-body>

</nb-card>
