.title {
  letter-spacing: .7em;
  font-weight: normal;
  align-self: center;
  font-weight: bold;
}
nb-icon {
  color: rgb(77, 190, 228);
  size: 2rem;
  margin: auto;
}
.info {
  font-weight: normal;
  margin: 1rem;
}
