<div class="container">
  <div class="row">
    <div class="col-sm">
      <nb-card>
        <nb-card-header class="title">
          WELCOME TO PERF-TRACE!
        </nb-card-header>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          To go to the perf-trace client app click <a href="/pages/perf-trace">HERE on
            pawelczyk.biz.pl/perf-trace</a>
        </nb-card-body>
        <nb-card-footer>
          <div class="text-center">
            <nb-icon icon="activity-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          The perf-trace-server app is avaible on pawelczyk.biz.pl:8081. It listens for the perf-trace REST requests for
          logging activity as well as for displaying this page ;)
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          Github sources of the perf-trace client (Angular) are <a href="https://github.com/andziaania/perf-trace"
            target="_blank">HERE</a>
        </nb-card-body>
        <nb-card-footer>
          <div class="text-center">
            <nb-icon icon="github-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-sm">
      <nb-card>
        <nb-card-body>
          Github sources of the perf-trace-server (Java) are <a href="https://github.com/andziaania/perf-trace-server"
            target="_blank">HERE</a>
        </nb-card-body>
        <nb-card-footer>
          <div class="text-center">
            <nb-icon icon="github-outline" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>

</div>
